@media (max-width: 1200px) {
    body {
      background-image: linear-gradient(225deg, #210900,#962800);
    }
    body::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, #210900,#962800);;
        opacity: 0;
        animation: bg 2800ms ease-in-out 0s infinite alternate-reverse;
        z-index: -1;
      }
      @keyframes bg {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      h1 {
        font-size: 18px;
        color:#ffffff;
      }

      .cabecalho {
        background: #858585b0;
        display: flex;
        justify-content: space-between;
        padding: 5px 40px;
        margin: 0 auto;
        width: 100vw;
    }
    .cabecalho .menu{
        display: flex;
        align-items: center;
        height: 100%;
        gap: 3px;
    }
    .cabecalho nav li a{
        font-weight: bold;
        color: #ffffff;
        font-size: 16px;
        padding: 5px 10px;
        border-radius: 50px;
        transition: 0.5s;
    }
    .cabecalho nav li a:hover{
        background-color: #111111;
    }

    .fundo {
        display: none;
    }

    .container {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        gap: 30px;
    }

    .container .doce {
        max-width: 50%;
    }

    .container .informacoes {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .container .descricao {
        color: #ffffff;
        text-align: center;
    }

}

@media (max-width: 500px) {
    .cabecalho {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    
}

