body {
    overflow: hidden;
}
h2 {
    color:#000000;
    font-size: 19px;
    font-weight: 400;
    padding: 5px 36px 10px;
}
.logotipo img {
    width: 240px;
    padding: 0 0 0 60px;
}

.cabecalho {
    background: #858585b0;
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    margin: 0 auto;
    width: 100vw;
}
.cabecalho .menu{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 3px;
}
.cabecalho nav li a{
    font-weight: bold;
    color: #ffffff;
    font-size: 22px;
    padding: 5px 10px;
    border-radius: 50px;
    transition: 0.5s;
}
.cabecalho nav li a:hover{
    background-color: #111111;
}
.logotipo svg{
    opacity: 0;
    display: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 30px 210px;
    flex-direction: column-reverse;
}
.container .doce{
    position: relative;
    z-index: -1;
    width: 700px;
    background: #ffffff;
    border-radius: 40px 40px 0 0;
}
.container .informacoes {
    display: flex;
    background: white;
    width: 700px;
    height: 320px;
    font-size: 19px;
    margin: -44px 0;
    border-radius: 0 0 40px 40px;
    flex-direction: column;
}

.fundo {
    position: fixed;
    z-index: -2;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.fundo .imagem {
    width: 100vw;
    height: 100vh;
}
.fundo::after {
    content: "";
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0,0,0,0.8) 5%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.8) 95%);
}



@media (max-width: 1200px) {
    h2{
        font-size: 14px;
        padding: 5px 22px 10px
    }

    .logotipo img{
        padding: 10px 0 0 60px;
    }

    .container {
        position: relative;
        top: 5vh;
        gap: 15px;
        height: 100vh;
        flex-wrap: nowrap;
        justify-content: flex-end;
        flex-direction: column-reverse;
        align-items: center;
    }
    .container .doce {
        display: block;
        position: relative;
        width: 380px;
        z-index: -1;
        border-radius: 12px 12px 0 0;
        background: #ffffff;
    }
    .container .informacoes {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 380px;
        height: 336px;
        margin: -40px 0;
        border-radius: 0 0 12px 12px;
        background: #ffffff;
    }
    .container .descricao {
        color: #ffffff;
        text-align: center;
    }
}